body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    position: relative;
    padding-bottom: 15em;
    min-height: 100vh;
}
a{
    text-align: none;
    color: blue;

}
header{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid gray;
}
.logo-principal  img{
    height: 50px;
    width: 50%;
}

