header nav .menu-icon{
    color: greenyellow;
    padding: 0.5rem;
    transition: all 0.4s linear;
    border-radius: 8px;
    list-style: none;
}
header nav .menu-icon{
    color: greenyellow;
    padding: 0.5rem;
    transition: all 0.4s linear;
    border-radius: 8px;
    list-style: none;
}